<div class="filetree-sidebar">
  <div class="foldername-wrapper">
    文件夹 1
    <div class="inner-folder">
      <div class="notelink">文件 1-1</div>
      <div class="notelink">文件 1-2</div>
    </div>
  </div>
  <div class="foldername-wrapper">
    文件夹 2
    <div class="inner-folder">
      <div class="notelink">文件 2-1</div>
      <div class="notelink">文件 2-2</div>
    </div>
  </div>
  <div class="foldername-wrapper">
    文件夹 3
    <div class="inner-folder">
      <div class="notelink">文件 3-1</div>
      <div class="notelink">文件 3-2</div>
    </div>
  </div>
</div>

<!-- 引入 JS -->
<script src="/scripts/filetree-accordion.js"></script>
<!-- 引入 CSS -->
<link rel="stylesheet" href="/styles/filetree.css">
