/* 去掉首页标题上方空白 */
body, main, .content, .site-header, .page-title {
    margin-top: 1 !important;
    padding-top: 1 !important;
}

/* 如果 h1 在某个特殊容器里，也一起覆盖 */
h1 {
    margin-top: 1 !important;
}

/* 左侧大纲自动彩虹色 */
.toc-container li a {
    transition: color 0.3s !important;
}

/* 第一层 */
.toc-container > ul > li > a {
    color: #ffef60 !important;
}

/* 第二层 */
.toc-container ul ul > li > a {
    color: #f06449 !important;
}

/* 第三层 */
.toc-container ul ul ul > li > a {
    color: #d4fcc3 !important;
}

/* 第四层 */
.toc-container ul ul ul ul > li > a {
    color: #72dcff !important;
}

/* 第五层及以后 */
.toc-container ul ul ul ul ul > li > a {
    color: #bf80ff !important;
}

/* 悬停时统一效果 */
.toc-container li a:hover {
    color: #ffffff !important;
}
