<div class="search-container" id="globalsearch" onclick="toggleSearch()">
    <div class="search-box">
        <input type="search" id="term" placeholder="Start typing..." autocomplete="off">
        <div id="search-results" role="listbox"></div>
        <footer class="search-box-footer">
            <ul class="navigation-hints">
                <li>Enter to select</li>
                <li class="navigation-hint--icon">
                    <i class="icon-arrow-up" aria-hidden="true"></i>
                    <i class="icon-arrow-down" aria-hidden="true"></i>
                    to navigate
                </li>
                <li>ESC to close</li>
            </ul>
        </footer>
    </div>
</div>
{% include "components/searchScript.njk" %}
