---
permalink: /searchIndex.json
eleventyExcludeFromCollections: true
---

[
{% for post in collections.note %}
  {
    "title": {{ post.data.title | default(post.fileSlug) | jsonify }},
    "date": "{{ post.date }}",
    "url": "{{ post.url }}",
    "content": {{ post.templateContent | striptags(true) | jsonify }},
    "tags": {{ (post.data.tags or []) | jsonify }}
  }{% if not loop.last %},{% endif %}
{% endfor %}
]
