---
permalink: /searchIndex.json
eleventyExcludeFromCollections: true
---
[
{% for post in collections.note %}
  {
    "title": {{ (post.data.title or post.fileSlug) | jsonify | safe }},
    "date": "{{ post.date }}",
    "url": "{{ post.url }}",
    "content": {{ post.templateContent 
                  | striptags(true) 
                  | slice(0, 100)  /* 截取前100字符 */
                  | link 
                  | jsonify 
                  | safe }},
    "tags": [
      {% set tags = [] %}
      {% set tags = tags.concat(post.templateContent | link | searchableTags | safe | split(",")) %}
      {% if post.data.tags %}
        {% set tags = tags.concat(post.data.tags) %}
      {% endif %}
      {% set tags = tags | reject("equalto", "") %}  {# 去掉空标签 #}
      {% for tag in tags %}
        "{{ tag | validJson }}" {% if not loop.last %},{% endif %}
      {% endfor %}
    ]
  }{% if not loop.last %},{% endif %}
{% endfor %}
]
